VITE_CONVEX_URL=http://127.0.0.1:3210
VITE_APP_BASE_URL=http://localhost:3000

# Specify the browser to automatically open when starting the dev server.
# Supported values: chrome, firefox, edge, brave, browser, or leave empty to use your system default.
# See Vite docs: https://vitejs.dev/config/preview-options#preview-open
BROWSER=
